@model WebApplication10.Views.Search.ViewModels.SearchViewModel

<h1>Поиск слов</h1>

<div>
    <input type="text" id="inputWord" />
    <button onclick="addWord()">Добавить</button>
</div>

<ul id="wordList">
    @foreach (var word in Model.Words)
    {
        <li>
            @word
            <button onclick="editWord('@word')">Изменить</button>
            <button onclick="deleteWord('@word')">Удалить</button>
        </li>
    }
</ul>

<div>
    <button onclick="sendWords()">Отправить</button>
</div>

<h2>Результаты поиска</h2>

<div id="searchResults">
    @if (Model.SearchResults != null)
    {
        foreach (var result in Model.SearchResults)
        {
            <p>
                <a href="@result.Url">@result.Url</a><br />
                @result.Snippet
            </p>
        }
    }
</div>

<script>
    
</script>
